:root {

    --primary-color: white;
    --secondary-color: #00B1C1;
    --third-color: #00588C;
    --font-family: 'Roboto', sans-serif;
}

nav.navbar {

    background-color: transparent;
}


body {

    font-family: var(--font-family);
    color: white;
    background-image: linear-gradient(to bottom, #1b032f, #1b103b, #1a1a48, #182454, #112e60) !important;
}

li.nav-item a {

    color:white;
    background-color: transparent;
}

li.nav-item a.active {

    background-color: transparent !important;
    border-radius: 0px;
    border-bottom: 2px solid var(--secondary-color);
}

div.container div.row {

    padding-top: 5%;

}

div.container button.btn-primary {

    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    border-radius: 20px;
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
}

.jumbotron {

    background: transparent;
    min-width: 100%;
}

.jumbotron img {

    max-width: 30%;
    height: auto;
    margin-right: 30px;
}

.jumbotron iframe {

    min-width: 30%;
    height: 100%;
    margin-right: 30px;
}

.jumbotron hr.jumbo-right {

    border-color: var(--secondary-color);
    width: 65%;
    display: block;
    margin-right: 30px;
}


button.btn-primary {

    margin: 10px auto !important;
}

#try {

    background-color: var(--secondary-color);
    border-radius: 20px;
}